/*--------------------------------------
   Miscellaneous
--------------------------------------*/

// Notes...

// Wrap
// -------------------------------------

.pre-header,
.header,
.content,
.footer {

	// width: 100%;
	// max-width: 1200px;
	// margin: 0 auto;

}

	.wrap {

		// padding: 0 30px;

		@media screen and (min-width: 600px) {

			// padding: 0 50px;

		}

		@media screen and (min-width: 1000px) {

			// padding: 0 70px;

		}

	}

// Title
// -------------------------------------

// Notes...

.move {

	a {

		// display: block;
		// padding: (15/19)+em;
		// @include font-size(19);
		// line-height: (22/19);
		// @include lato-regular;
		// text-align: center;
		// text-transform: uppercase;
		// color: $white;
		// background: $green;

		&:hover,
		&:focus {

			// background: darken($green, 5%);

		}

	}

}

// Developer Mode
// -------------------------------------

// Notes...

#dev {

	position: fixed;
	left: 5px;
	bottom: 5px;
	width: auto;
	padding: 5px 7px;
	font-size: 12px;
	line-height: 14px;
	font-family: Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: $white;
	background: rgb(212, 176, 255);
	z-index: 9999;

}
