/*--------------------------------------
   Variables
--------------------------------------*/

// Notes...

$black: rgb(0, 0, 0);

$white: rgb(255, 255, 255);

// Branding
// -------------------------------------

// Notes...

$default-color: rgb(59, 58, 60); // #3b3a3c

$green: rgb(163, 224, 110); // #a3e06e
$blue: rgb(53, 160, 218); // #35a0da
