/*--------------------------------------
	Content
--------------------------------------*/

// Notes...

// Notification

.payrollNotification {

	margin-top: 58px;
	color: $white;
	background: $blue;

	.row {

		padding-bottom: 0.25rem;

	}

		.col {}

			ul {

				margin: 0;
				text-align: center;

			}

				li {

					display: inline;
					font-size: 0.75rem;
					font-weight: 600;
					text-transform: uppercase;
					color: $white;

					&:after {

						content: "•";
						margin: 0 12px 0 14px;

					}

					&:last-of-type {

						&:after {

							content: none;

						}

					}

				}

}

// Hero

.payrollHero {

	margin-top: 0;
	background-image: url(/images/payrollHero-new.jpg);

	.container {}

		.row {}

			.col {}

				h1 {

					text-transform: uppercase;

					span {

						display: block;
						color: $white;

					}

				}

				h4 {

					color: $white;
					font-weight: 600;
					text-transform: uppercase;

				}

				ul {

					padding-left: 20px;

				}

					li {

						color: $white;

					}

				button {}

}

// Navigation

.payrollNavigation {

	background-color: $blue;

	.container {}

		.row {}

			.col {}

				a {

					display: block;
					font-weight: 600;
					text-transform: uppercase;
					text-align: center;
					color: $white !important;

				}

					i {

						&:before {

							color: $white !important;

						}

					}

}

.payrollRunPayroll {

	.row {}

		.col {}

			img {}

			i {}

			h2 {

				font-size: 2rem;
				font-weight: 600;
				text-transform: uppercase;
				color: $blue;

			}

			h3 {

				font-size: 2.75rem;
				text-transform: uppercase;

			}

			p {}

}

.payrollCreateAndViewReports {

	background-color: $white;

	.row {}

		.col {}

			img {}

			i {}

			h2 {

				font-size: 2rem;
				font-weight: 600;
				text-transform: uppercase;
				color: $blue;

			}

			h3 {

				font-size: 2.75rem;
				text-transform: uppercase;

			}

			p {}

}

.payrollFileFederalAndStateForms {

	.row {}

		.col {}

			img {}

			i {}

			h2 {

				font-size: 2rem;
				font-weight: 600;
				text-transform: uppercase;
				color: $blue;

			}

			h3 {

				font-size: 2.75rem;
				text-transform: uppercase;

			}

			p {}

}

.payrollEmployeeMobileAccess {

	background-color: $white;

	.row {}

		.col {}

			img {}

			i {}

			h2 {

				font-size: 2rem;
				font-weight: 600;
				text-transform: uppercase;
				color: $blue;

			}

			h3 {

				font-size: 2.75rem;
				text-transform: uppercase;

			}

			p {}

}

.payrollStartFreeTrial {

	padding: 0 0 70px 0;
	text-align: center;

	.row {}

		.col {}

			button {

				box-shadow: none;

			}

}

.payrollTestimonial {

	text-align: center;
	background: $default-color;

	.row {}

		.col {}

			blockquote {}

				p {

					margin-bottom: 15px;
					font-size: 1.5rem;
					color: $white;

					&:before {

						content: "“";


					}

					&:after {

						content: "”";

					}

				}

				.source {

					font-size: 0.75rem;
					color: $white;

					&:before {

						content: "";
						display: block;
						width: 119px;
						height: 22px;
						margin: 0 auto 10px auto;
						background: url(/images/rating.png);

					}

				}

					strong {

						font-weight: 400;
						color: $white;

						&:after {

							content: "|";
							margin: 0 10px 0 12px;

						}

					}

}

.payrollFeatures {

	padding: 100px 0 100px 0;

	.container {}

		.row {}

			.col {}

				h3 {

					font-size: 2rem;
					font-weight: 600;
					text-transform: uppercase;
					text-align: center;
					color: $blue;

				}

				h4 {

					font-size: 2.75rem;
					text-transform: uppercase;
					font-weight: 600;
					text-align: center;

				}

				.list-of-features {

					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-items: flex-start;
					align-content: flex-start;
					margin: 55px 0 0 0;

				}

					.features-section {

						width: calc(25% - 20px);

					}

						h5 {

							font-size: 1em;
							font-weight: 600;
							text-transform: uppercase;

						}

						ul {

							margin: 0;
							padding: 0;
							list-style: none;

						}

							li {}

				.features-start-for-free {

					text-align: center;

				}

					button {

						box-shadow: none;

					}

}

.contractSection {

	padding: 55px 0;

	.container {}

		.pricingCardsWrapper {

			top: auto;

		}

}

.workful-footer {

	.container {}

		.row {}

			.col {}

				.copyright {}

					a {

						&:hover {}

					}

}
